<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.market.infrastructure.raffle.mapper.RuleTreeMapper">

    <resultMap id="BaseResultMap" type="com.yu.market.infrastructure.raffle.pojo.RuleTree">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="treeId" column="tree_id" jdbcType="VARCHAR"/>
            <result property="treeName" column="tree_name" jdbcType="VARCHAR"/>
            <result property="treeDesc" column="tree_desc" jdbcType="VARCHAR"/>
            <result property="treeNodeRuleKey" column="tree_node_rule_key" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tree_id,tree_name,
        tree_desc,tree_node_rule_key,create_time,
        update_time
    </sql>

    <select id="queryRuleLocks" resultType="com.yu.market.infrastructure.raffle.pojo.RuleTreeNode">
        select tree_id, rule_value
        from rule_tree_node
        where rule_key = 'rule_lock' and tree_id in
        <foreach item="treeId" index="index" collection="array" open="(" separator="," close=")">
            #{treeId}
        </foreach>
    </select>
</mapper>
