<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.market.server.task.mapper.TaskMapper">

    <resultMap id="BaseResultMap" type="com.yu.market.server.task.model.pojo.Task">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="topic" column="topic" jdbcType="VARCHAR"/>
            <result property="messageId" column="message_id" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,topic,
        message_id,message,state,
        create_time,update_time
    </sql>
    <update id="updateTaskSendMessageCompleted">
        update task
        set state = 'completed',
            update_time = NOW()
        where user_id = #{userId}
          and message_id = #{messageId}
    </update>

    <update id="updateTaskSendMessageFail">
        update task
        set state       = 'fail',
            update_time = now()
        where user_id = #{userId}
          and message_id = #{messageId}
    </update>
</mapper>
